---
import Layout from "../layouts/Layout.astro";
import First_section from "../components/index/First_section.astro";
import Second_section from "../components/index/Second_section.astro";
---

<Layout title="gempDev">
  <main>
    <First_section />
    <Second_section />
  </main>
</Layout>

<style></style>
