---
import Layout from '../layouts/Layout.astro';
import Index_section from '../components/index/Index_section.astro'

---

<Layout title="gempDev">
	<main>
		<Index_section />
	</main>
</Layout>

<style>
	
</style>
