---

---

<header>
  <h4>Web Developper</h4>
  <ul>
    <li>Home</li>
    <li>Blog</li>
    <li>Contact</li>
  </ul>
</header>

<style>
  h4 {
    padding-left: 25px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  li {
    padding-right: 25px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px 0;
  }
</style>
